/*!*************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/styles.css ***!
  \*************************************************************************/
.collapse-container {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .collapse-button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0 10px;
  }
  
